<phpunit
        addUncoveredFilesFromWhitelist="true"
        processUncoveredFilesFromWhitelist="true"
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        bootstrap="./tests/Bootstrap.php"
        >

    <testsuite name="TLDExtract">
        <directory>./tests/Tests/</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory>./src</directory>
            <directory>./tests</directory>
        </whitelist>
        <blacklist>
            <directory>./vendor/</directory>
            <file>./vendor/autoload.php</file>
        </blacklist>
    </filter>

</phpunit>